body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(45deg,#2d2c31,#1d1d4e,#2ad895,#3ef744);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    max-width: 300px;
    width: 100%;
    padding: 100px;
    border:2px solid #fff;
    border-radius:10px;
    background-color:rgba(0,0,0,0.6);
}
h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
p{
    font-size: 36px;
    font-weight:bold ;
}
button{
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #009440;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition:background-color 0.3s;
}
button.houver{
    background-color: aqua;
}
button:active{
    background-color: #9b4805;
}
